#imgCandidate {
    border: 2px solid #f1f1f1 !important;
    border-radius: 10px;
}

textarea{
    resize: none;
}

.btnUpload{
    padding-top: 30px !important;
    border: 2px dashed darkblue;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

.btnUpload:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 255, .2);
}