.eventsBtn{
    border-radius: 0px !important;
    background-color: transparent !important;
    color: grey;
    border-bottom: solid 2px grey;
    transition: all .4s ease-in-out;
    box-shadow: none !important
;
}

.eventsBtn:hover{
    background-color: #4CAF50 !important;
}

.suggestionFaq hr{
    border: 2px solid grey;
}

.suggestionFaq{
    font-family: sans-serif;
}

.suggestionFaq h1{
    color: dimgrey;
}

.suggestionFaq ol li:hover{
    cursor: pointer;
}

.suggestionFaq li h4 a{
    font-weight: 600;
    color: grey;
}

.suggestionForm{
    display: none;
}

.suggestionForm hr{
    border: 2px solid grey;
}

.suggestionForm h1{
    color: dimgrey;
}

.content-2-div{
    padding-left: 0px; padding-right:0px;
}

.content-2-div .col-md-6:nth-child(1){
    padding-left: 0px;
}

.content-2-div .col-md-6:nth-child(2){
    padding-right: 0px;
}

.eventBannerDiv{
    max-height: 400px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #5c5250;
    box-shadow: 1px 1px 5px grey;
}

.announcementsDiv ul li{
    background-color: #f6f7f9;
    padding: 10px;
    margin-bottom: 10px;
}

.announcementsDiv ul li h5{padding:10px}
.announcementsDiv ul li p{text-indent: 1em; border-bottom: none}

.commentBox{
    margin-top: 25px;
    border-left: 2px solid transparent;
}

@media (max-width: 768px){

    .content-2-div .col-md-6:nth-child(1){
        padding-right: 0px;
    }

    .content-2-div .col-md-6:nth-child(2){
        padding-left: 0px;
    }

    .pullLeftOnXs{
        text-align: left !important;
    }
}