@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

/*E8F9C5
CCE6BF
B3D7A9
90CB9F
72C086*/

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #999;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #999;
}

.padding-25{
    padding: 25px !important;
}

.margin-25{
    margin: 25px !important;
}

.green-bottom-border {
    border-style: solid;
    border: none;
    border-bottom: thick solid #4CAF50;
}

.dark-bottom-border {
    margin-bottom: 25px;
    padding: 0px;
    margin-left: 15px;
    border-style: solid;
    border: none;
    border-bottom: 2px solid grey;
}

.dark-bottom-border h3 small{
    font-weight: 600;
}

.btn{
    transition: all .4s ease-in-out;
}

#imgLabel{
    border: 3px dashed #4CAF50;
    padding: 15px;
    border-radius: 4px;
    transition: all .4s ease-in-out;
}

#imgLabel:hover{
    border-style:solid;
    background-color: rgba(76, 175, 80, .4);
    cursor: pointer;
}

.btn-success{
    background-color: #4CAF50 !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: rgba(76, 175, 80, .8);
    border-color: transparent !important;
    color: black;
    cursor: default;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Raleway, Roboto, sans-serif, Arial !important;
    overflow-x:hidden;
}

.cms-wrapper{
    margin-left: 25% !important;
    width: 75% !important;
}

.bg-white{
    background-color: #fff;
}

.noPadding {
    padding: 0px;
}

.noMargin {
    margin: 0px;
}

.navbar-inverse {
    background-color: rgba(36, 41, 46, .9);
    border-radius: 0px !important;
    border: none !important;
}

.nav li {
    padding: 0px;
    margin: 0px;
}

.navbar-right li a{
    color: #FFF !important;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

.greenLinks li a{
    color: #2ab27b !important;
    font-weight: 700;
}

.navbar ul li a:hover{
    color: white !important;
}

.navbar-right img {
    width: 25px;
    height: 25px;
}

.btn-green {
    background-color: green;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 700;
    border-color: transparent;
}

.frontPage {
    background-color: #fff;
    font-family: Roboto, Raleway, Arial;
}

.jumbotron{
    background-color: transparent;
}

.headerLabel h6{
    margin-top: 100px;
}

.headerLabel h1{
    font-weight: 100;
    color: #333;
}

.footer{
    background-color: rgba(36, 41, 46, .97);
    padding: 70px;
    color: #FFFFFF;
}

.copyRight small{
    color: white !important;
}


.footerImgDiv{
    max-height:100px;
}

.footerImgDiv img{
    width: 100%;
}

.linksColor a{
    color: #97b3d9;
}

.icon{
    width: 25px;
    height: 25px;
    margin-bottom: 2px;
}

.copyRight{
    background-color: rgba(36, 41, 46, 1);
    height: 80px;
    color: #8ca7ca;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .cms-wrapper{
        margin-left: 0 !important;
        width: 100% !important;
        padding-top: 50px;
    }
}

@media (max-width: 1000px) and (min-width: 768px) {
    .container {
        margin-top :0px;
        padding-top: 0px;
    }
}