/*E8F9C5
CCE6BF
B3D7A9
90CB9F
72C086*/

body, html {
    margin: 0;
    padding: 0;
    font-family: Raleway, Roboto, Arial;
}

.noPadding {
    padding: 0px;
}

.noMargin {
    margin: 0px;
}

.navbar-inverse {
    background-color: rgba(36, 41, 46, .9);
    border-radius: 0px !important;
    border: none !important;
}

.nav li {
    padding: 0px;
    margin: 0px;
}

.navbar-right li a{
    color: #FFF !important;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

.greenLinks li a{
    color: #2ab27b !important;
    font-weight: 700;
}


.navbar ul li a:hover{
    color: white !important;
}

.navbar-right img {
    width: 25px;
    height: 25px;
}

.btn-green {
    background-color: green;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 700;
    border-color: transparent;
}

.frontPage {
    background-color: #fff;
    font-family: Roboto, Raleway, Arial;
}

.jumbotron{
    background-color: transparent;
}

.headerLabel h6{
    margin-top: 100px;
}

.headerLabel h1{
    font-weight: 100;
    color: #333;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}