#imgBanner {
    width: 100%;
    height: auto;
}

#imgLogo{
    border: 2px solid #f1f1f1;
    margin-top: 90px;
    width: 100%;
}

.uploadLogo{
    padding-top: 30px !important;
    border: 2px dashed blue;
    border-radius: 10px;
}

.uploadLogo:hover{
    cursor: pointer;
}

.uploadBanner{
    padding-top: 30px !important;
    border: 2px dashed green;
    border-radius: 10px;
}

.uploadBanner:hover{
    cursor: pointer;
}

.topLeft{
    border-top-left-radius: 5px !important;
}