.changeColorOnXs{
    color:black;
}

.sidebar{
    padding-top: 52px;
}

.identityDiv{
    margin-bottom: 25px; margin-top: 25px; padding-left: 7px;
}

.identityDiv img{
    width: 80px;
    height: 80px;
    box-shadow: 1px 1px 5px grey;
}

.sidebar ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    width: 280px;
    background-color: ghostwhite;
    max-width: 280px !important;
    max-height: 100%;
    position:fixed;
    overflow: auto;
}

.sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    transition: all .4s ease-in-out;
    font-weight: 700;
}

.sidebar li a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar li a:hover:not(.active) {
    background-color: #4CAF50;
    color: white;
}

.submenu{
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.nav:after{
    padding-bottom: 0;
}

.panel-collapse a{
    padding-left: 5em !important;
}

.light-hr{
    border: 1px solid lightgrey;
    width: 80%;
}

@media (max-width: 768px) {
    .sidebar{
        text-align: left;
    }

    .sidebar ul {
        margin-top: 50px;
        position: fixed !important;
        width: 100%;
        z-index: 999;
        background-color: rgba(56, 61, 66, .9);
        top: 0;
    }

    .sidebar ul li a{
        color: #fcfcfc;
    }

    .sidebar li a:hover:not(.active) {
        background-color: #f1f1f1;
        color: black;
    }

    .sideScroll{
        overflow-y:auto;
    }

    .identityDiv{
        color: white;
        text-align: left !important;
    }

    .light-hr{
        width: 95%
    }
}



@media (max-width: 768px) {
    .sideScroll{
        max-height: none !important;
    }

    .sidebar ul {
        width: 100%;
        max-width: 768px !important;
    }

    .changeColorOnXs{
        color: white;
    }
}


@media (max-width: 768px) and  (max-height: 1000px) {
    .sideScroll ul{
        max-height: 700px !important;
    }
}

@media (max-width: 768px) and  (max-height: 700px) {
    .sideScroll ul{
        max-height: 400px !important;
    }
}

@media (max-width: 768px) and  (max-height: 400px) {
    .sideScroll ul{
        max-height: 200px !important;
    }
}

@media (max-width: 1200px) and (min-width: 1000px) {
    .sidebar ul {
        width: 230px !important;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .sidebar ul {
        width: 180px !important;
        font-size: 1vw;
    }
}

/*
@media (min-width: 768px) and (max-height: 1920px){
    .sidebar ul{
        max-height: 1500px;
        overflow: auto;
    }
}

@media (min-width: 768px) and (max-height: 1500px){
    .sidebar ul{
        max-height: 1200px;
        overflow: auto;
    }
}

@media (min-width: 768px) and (max-height: 1200px){
    .sidebar ul{
        max-height: 900px;
        overflow: auto;
    }
}



@media (min-width: 768px) and (max-height: 900px){
    .sidebar ul{
        max-height: 600px;
        overflow: auto;
    }
}

@media (min-width: 768px) and (max-height: 600px){
    .sidebar ul{
        max-height: 600px;
        overflow: auto;
    }
}*/
