.changePhoto label:hover{
    cursor: pointer;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transition-delay: .3s;
    transform: translateX(10px);
    opacity: 0;
}
.el-step:hover{
    cursor: pointer;
}
.el-step:hover .el-step__title.is-process {
    color:green;
}
.is-wait:hover{
    cursor:not-allowed;
}